.googleButtonWrapper :global(.g_id_signin) {
  width: 100% !important;
}

.googleButtonWrapper :global(.g_id_signin iframe) {
  margin: 0 auto !important;
}

:global([data-theme="dark"]) .googleButtonWrapper :global(.g_id_signin iframe) {
  border-radius: 4px !important;
  box-shadow: none !important;
}
